/* Used to change how border box padding is calculated */
/* Makes it within a width rather than adding onto a specified total width */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Double Hypens are used to defined custom properties in CSS */
  --ff-sans: 'Source Sans Pro', sans-serif;
  --ff-code: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-turq: #16e0bd;
  
  --fs-body: 16px;
  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 20px;
  
  --bs: 4px 4px 12px rgba(0, 0, 0, 0.25),
        2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Automatically redefines variables above for larger screen sizes */
@media (min-width: 800px) {
  :root {
    --fs-body: 18px;
    --fs-h1: 72px;
    --fs-h2: 60px;
    --fs-h3: 24px;
  }
}

/* General Styles */

html {
  /* Does not immediately jump to a section, allows to smoothly scroll down there */
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  
  margin: 0;
  line-height: 1.6;
  
  font-family: var(--ff-sans);
  font-size: var(--ff-body);
}

section {
  padding: 80px 32px;
}

img {
  display: block;
  max-width: 100%;
}

/* If user presses tab, focus state changes */
:focus {
  outline: 3px solid var(--clr-turq);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 8px 38px;
  background: var(--clr-turq);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

strong {
  font-weight: var(--fw-bold);
}

/* Double Underscores are used to define a sub-element of a block */
/* Double Hypens are used as modifiers */
.section__title {
  margin-bottom: 0.25em;
  
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  /* Example of a compound selector */
  /* Makes Text 'Alex Battikha' on its own line */  
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-turq);
  padding: 4px 16px;
  
  font-family: var(--ff-code);
  margin-bottom: 16px;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  max-width: 165px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  /* Covers/Hides From the Whole Screen
  Percentage is based on its self */
  transform: translateX(100%);
  /* Defines a curve used in two-dimensional graphic applications */
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-turq);
}

.nav-toggle {
  padding: 8px;
  background: transparent;
  border: 0;
  cursor: pointer;
  
  position: absolute;
  right: 16px;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  /* Won't always scroll with site */
  position: fixed;
}

.nav-open .menu-button {
  transform: rotate(225deg);
}

.nav-open .menu-button::before {
  transform: rotate(90deg) translateX(-8px);
}

.nav-open .menu-button::after {
  opacity: 0;
}

.menu-button {
  display: block;
  position: relative;
  top: 5px;
}

/* Pseduo Elements */
.menu-button,
.menu-button::before,
.menu-button::after {
  background: var(--clr-turq);
  width: 32px;
  height: 4px;
  border-radius: 14px;
  transition: transform 250ms ease-in-out;
}


.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.menu-button::before {
  top: 8px;
}

.menu-button::after {
  bottom: 8px;
}


/* Intro Section */

.intro {
  position: relative;
}

.intro__image {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    
    width: min-content;
    margin: 0 auto; 
    
    grid-column-gap: 16px;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  
  .intro__image {
    grid-area: img;
    min-width: 250px;
    
    position: relative;
    
    /* Sets turq bar behind image */
    z-index: 2;
  }
  
  .section__subtitle--intro {
    align-self: start;
    /* allows grid to stretch across */
    grid-column: -1 / 1;
    grid-row: 2;
    
    text-align: right;
    
    /* Allows turq bar to stretch past image */
    position: relative;
    left: -24px;
    width: calc(100% + 24px);
  }
}


/* My Services Section */

.my-services {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  background-image: url("https://cdn.glitch.com/a2a15770-2364-48d4-a0db-70ac9a389ae7%2Fservices-bg.jpg?v=1626205687508");
  background-size: cover;
  
  text-align: center
}

.section__title--services {
  color: var(--clr-turq);
  position: relative;
}

/* Pseduo Elements */
.section__title--services::after {
  content: '';
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 16px;
  background: var(--clr-light);
  opacity: 0.5
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.services {
  margin-bottom: 44px;
  padding-right: 0px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Compares to the service next to it */
  .service + .service {
    margin-left: 16px;
  }
}


/* About Me Section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  bod-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    /* fr unit is used in css grid layouts
    that translates to "one fraction of the grid */
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 36px;
  }
  
  .section__title--about {
    grid-area: title;
    
  }
  
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    
    position:relative;
    left: -16px;
    width: calc(100% + 32px);
    padding-left: 16px;
    /* Allows text to never touch the image */
    padding-right: calc(200px + 64px);
  }
  
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}


/* My Work Section */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
}

.section__subtitle--work {
  color: var(--clr-turq);
  font-weight: var(--fw-bold);
  text-align: center;
}

.portfolio__item {
  background: var(--clr-turq);
  overflow: hidden;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img {
  transition: 
    transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover,
.portfolio_item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.8;
}


/* Footer Section */

.footer {
  background: #141414;
  color: var(--clr-turq);
  text-align: center;
  padding: 40px 0;
  
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 32px 0 0;
  /* Line needed below because default padding makes it off-center */
  padding: 0;
}

.social-list__item {
  margin: 0 8px;
}

.social-list__link {
  padding: 7px;
}

/* Portfolio Styling */

.portfolio-item-individual {
  padding: 0 32px 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}